[train]
epoch = 100
batch_size = 32
learning_rate = 2e-4

[eval]
batch_size = 1

[data]
rain_dataset_type = BraTS2021
train_formatter_type = NIFTI

valid_dataset_type = BraTS2021
valid_formatter_type = NIFTI

test_dataset_type = BraTS2021
test_formatter_type = NIFTI

[model]
model_path = model/user
model_name = UserNet


[output]
output_time = 1
test_time = 100

model_path = model/user
model_name = UserNet
tensorboard_path = model/user/tensorboard

accuracy_method = Vision
output_function = Vision
output_value = PSNR,SSIM

[dataset]

training_num = 1000
eval_num = 334
test_num = 333
